<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>MONGO_HOST</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>MONGO_PORT</param-name>
    <param-value>27017</param-value>
  </context-param>
    <context-param>
        <param-name>MONGO_DBNAME</param-name>
        <param-value>db_user</param-value>
    </context-param>
    <context-param>
        <param-name>MONGO_COLLECTION</param-name>
        <param-value>user_details</param-value>
    </context-param>
    <listener>
        <listener-class>loginmongo.MongoDBConListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>loginmongo.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
</web-app>
